.label {
  display: inline;
  padding: 0 5px;
  white-space: nowrap;
  font-size: 100%;
  color: inherit;
  font-weight: normal;
}
.label.default {
  background-color: #e2e3e5;
}
.label.primary {
  background-color: #cce5ff;
}
.label.info {
  background-color: #d1ecf1;
}
.label.success {
  background-color: #d4edda;
}
.label.warning {
  background-color: #fff3cd;
}
.label.danger {
  background-color: #f8d7da;
}
