/* Here is your custom css styles. */
.block-with-text:after,
.block-with-text:before {
    content: none;
}

.article .article-content .summary {
    height: 3em;
    overflow: hidden;
}

.line-numbers-rows > span:before {
    padding-bottom: 2px;
}

.line-numbers-rows {
    border-right-width: 1px !important;
}

@media only screen and (max-width: 601px){
    *::-webkit-scrollbar { 
        height: 0; 
    }

    .page-footer {
        padding-bottom: 20px;
    }
}

.sidenav,
.cd-timeline-content,
.modal,
.modal::-webkit-scrollbar,
#artDetail .tag_share .article-tag .chip,
.prev-next .article-badge,
.card,
body {
    transition: .3s;
    transition-property: background-color, background, background-image;
}

body.dark {
    background-color: #000;
    color: #BDBDBD;
}

.dark header .nav-transparent {
    background-image: none !important;
}

.dark .sidenav,
.dark .cd-timeline-content,
.dark .modal,
.dark .modal::-webkit-scrollbar,
.dark #artDetail .tag_share .article-tag .chip,
.dark .prev-next .article-badge,
.dark .card {
    background-color: #212121;
}

.dark #gitalk-container .gt-container .gt-header .gt-btn-preview {
    background-color: #212121 !important;
}

.dark input[type=search]:not(.browser-default),
.dark #searchModal .search-header .title,
.dark .chip-container .chip-default,
.dark .profile .author .title,
.dark .chip-container .tag-title,
.dark .friends-container .card-content .tag-title,
.dark blockquote,
.dark #artDetail .post-info .post-date,
.dark #artDetail .post-info,
.dark article a {
    color: #BDBDBD;
}

.dark .mobile-menu-list a i, 
.dark header .side-nav .menu-list a {
    color: #BDBDBD !important;
}

#artDetail .tag_share .article-tag .chip:hover {
    border-color: #42b983;
    background: #42b983;
}

code {
    color: #B71C1C;
    background-color: #FFCDD2;
}

.code_lang {
    top: 0;
    right: 30px;
    line-height: 1;
    filter: unset;
    padding: 5px 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 40px;
    text-align: center;
}

.dark .code_lang,
.dark table tbody tr:nth-child(2n), thead,
.dark .search-result-list .search-keyword,
.dark #gitalk-container .gt-container .gt-header .gt-header-preview,
.dark #gitalk-container .gt-container .gt-header .gt-header-textarea,
.dark .chip,
.dark .my-skills .skillbar,
.dark pre code,
.dark pre {
    background-color: #424242;
}

.dark .other-skills .chip {
    background-color: #424242;
    border: 1px solid #424242;
}

.dark tr {
    border-bottom: 1px solid #757575;
}

.dark #articleContent table th {
    background-color: #616161;
    border: 1px solid #757575;
}

.dark #articleContent table td,
.dark #articleContent table, th, td {
    border: 1px solid #757575;
}

td, th {
    border-radius: 0;
}

.dark pre::-webkit-scrollbar {
    background: #2d2d2d;
}

.dark .modal::-webkit-scrollbar-thumb,
.dark pre::-webkit-scrollbar-thumb { 
    background: #424242;
    border-radius: 16px;
}

.dark .red {
    background-color: #212121 !important;
}

.dark amber {
    background-color: #263238 !important;
}

.cover-btns a:hover {
    border: 1px solid #4cbf30;
    background-color: #4cbf30;
    box-shadow: 0 14px 26px -12px rgba(76, 191, 48, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 191, 48, 0.2);
}

.friend-button .button-caution {
    background-color: #4cbf30;
}

.friend-button .button-caution:hover {
    background-color: #6CDF51;
    border-color: #6CDF51;
}

.dark .top-scroll .btn-floating {
    background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%);
}

.dark .progress-bar,
.dark .bg-color:not(.chip) {
    background-image: linear-gradient(to right, #212121 0%, #424242 100%);
}

.dark .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating),
.dark .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #212121;
}

.dark .page-footer {
    background-color: transparent;
}

.dark .bg-cover:after {
    -webkit-animation: rainbow_dark 60s infinite;
    animation: rainbow_dark 60s infinite;
}

@keyframes rainbow_dark {

    0%,
    100% {
        background: rgba(33, 33, 33, 0.75);
        background: linear-gradient(45deg, rgba(33, 33, 33, 0.75) 0%, rgba(33, 33, 33, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(33, 33, 33, 0.75) 0%, rgba(33, 33, 33, 0.65) 100%);
        background: -webkit-linear-gradient(135deg,rgba(33, 33, 33, 0.75) 0%, rgba(33, 33, 33, 0.65) 100%);
    }

    16% {
        background: rgba(66, 66, 66, 0.75);
        background: linear-gradient(45deg, rgba(66, 66, 66, 0.75) 0%, rgba(66, 66, 66, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(66, 66, 66, 0.75) 0%, rgba(66, 66, 66, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(66, 66, 66, 0.75) 0%, rgba(66, 66, 66, 0.65) 100%);
    }

    32% {
        background: rgba(97, 97, 97, 0.75);
        background: linear-gradient(45deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0.65) 100%);
    }

    48% {
        background: rgba(69, 90, 100, 0.75);
        background: linear-gradient(45deg, rgba(69, 90, 100, 0.75) 0%, rgba(69, 90, 100, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(69, 90, 100, 0.75) 0%, rgba(69, 90, 100, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(69, 90, 100, 0.75) 0%, rgba(69, 90, 100, 0.65) 100%);
    }

    64% {
        background: rgba(55, 71, 79, 0.75);
        background: linear-gradient(45deg, rgba(55, 71, 79, 0.75) 0%, rgba(55, 71, 79, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(55, 71, 79, 0.75) 0%, rgba(55, 71, 79, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(55, 71, 79, 0.75) 0%, rgba(55, 71, 79, 0.65) 100%);
    }

    80% {
        background: rgba(38, 50, 56, 0.75);
        background: linear-gradient(45deg, rgba(38, 50, 56, 0.75) 0%, rgba(38, 50, 56, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(38, 50, 56, 0.75) 0%, rgba(38, 50, 56, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(38, 50, 56, 0.75) 0%, rgba(38, 50, 56, 0.65) 100%);
    }
}

/* hexo-filter-github-emojis */
.github-emoji{
    height: 2em;
    width: 2em;
    display: inline-block !important;
    position: relative;
    margin: 0 3px !important;
    padding: 0;
}
.github-emoji:hover{
    animation: emoji-face 5s infinite ease-in-out;
}
@keyframes emoji-face {
    2% {
        transform: translate(0, 1.5px) rotate(1.5deg);
    }
    4% {
        transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    6% {
        transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    8% {
        transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    10% {
        transform: translate(0, 2.5px) rotate(1.5deg);
    }
    12% {
        transform: translate(0, -0.5px) rotate(1.5deg);
    }
    14% {
        transform: translate(0, -1.5px) rotate(1.5deg);
    }
    16% {
        transform: translate(0, -0.5px) rotate(-1.5deg);
    }
    18% {
        transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    20% {
        transform: translate(0, -1.5px) rotate(2.5deg);
    }
    22% {
        transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    24% {
        transform: translate(0, 1.5px) rotate(1.5deg);
    }
    26% {
        transform: translate(0, 0.5px) rotate(0.5deg);
    }
    28% {
        transform: translate(0, 0.5px) rotate(1.5deg);
    }
}
