/* Here is your custom css styles. */
.block-with-text:after,
.block-with-text:before {
    content: none;
}

.article .article-content .summary {
    height: 3em;
    overflow: hidden;
}

.line-numbers-rows > span:before {
    padding-bottom: 2px;
}

.line-numbers-rows {
    border-right-width: 1px !important;
}

@media only screen and (max-width: 601px){
    *::-webkit-scrollbar { 
        height: 0; 
    }

    .page-footer {
        padding-bottom: 20px;
    }
}

body {
    background-color: #000;
    color: #BDBDBD;
}

.sidenav,
.cd-timeline-content,
.modal,
.modal::-webkit-scrollbar,
#artDetail .tag_share .article-tag .chip,
.prev-next .article-badge,
.card {
    background-color: #212121;
}

#gitalk-container .gt-container .gt-header .gt-btn-preview {
    background-color: #212121 !important;
}

input[type=search]:not(.browser-default) {
    border-radius: 0 !important;
}

input[type=search]:not(.browser-default),
#searchModal .search-header .title,
.chip-container .chip-default,
.profile .author .title,
.chip-container .tag-title,
.friends-container .card-content .tag-title,
blockquote,
#artDetail .post-info .post-date,
#artDetail .post-info,
article a {
    color: #BDBDBD;
}

.mobile-menu-list a i, 
header .side-nav .menu-list a {
    color: #BDBDBD !important;
}

#artDetail .tag_share .article-tag .chip:hover {
    border-color: #42b983;
    background: #42b983;
}

code {
    color: #B71C1C;
    background-color: #FFCDD2;
}

table tbody tr:nth-child(2n), thead,
.search-result-list .search-keyword,
#gitalk-container .gt-container .gt-header .gt-header-preview,
#gitalk-container .gt-container .gt-header .gt-header-textarea,
.chip,
.my-skills .skillbar,
pre code,
pre {
    background-color: #424242;
}

.other-skills .chip {
    background-color: #424242;
    border: 1px solid #424242;
}

tr {
    border-bottom: 1px solid #757575;
}

#articleContent table th {
    background-color: #616161;
    border: 1px solid #757575;
}

#articleContent table td,
#articleContent table, th, td {
    border: 1px solid #757575;
}

td, th {
    border-radius: 0;
}

pre::-webkit-scrollbar {
    background: #2d2d2d;
}

.modal::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb { 
    background: #424242;
    border-radius: 16px;
}

.red {
    background-color: #212121 !important;
}

.amber {
    background-color: #263238 !important;
}

.cover-btns a:hover {
    border: 1px solid #4cbf30;
    background-color: #4cbf30;
    box-shadow: 0 14px 26px -12px rgba(76, 191, 48, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 191, 48, 0.2);
}

.friend-button .button-caution {
    background-color: #4cbf30;
}

.friend-button .button-caution:hover {
    background-color: #6CDF51;
    border-color: #6CDF51;
}

.top-scroll .btn-floating {
    background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%);
}

.progress-bar,
.bg-color:not(.chip) {
    background-image: linear-gradient(to right, #212121 0%, #424242 100%);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating),
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #212121;
}

.page-footer {
    background-color: transparent;
}

@keyframes rainbow {

    0%,
    100% {
        background: rgba(33, 33, 33, 0.75);
        background: linear-gradient(45deg, rgba(33, 33, 33, 0.75) 0%, rgba(33, 33, 33, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(33, 33, 33, 0.75) 0%, rgba(33, 33, 33, 0.65) 100%);
        background: -webkit-linear-gradient(135deg,rgba(33, 33, 33, 0.75) 0%, rgba(33, 33, 33, 0.65) 100%);
    }

    16% {
        background: rgba(66, 66, 66, 0.75);
        background: linear-gradient(45deg, rgba(66, 66, 66, 0.75) 0%, rgba(66, 66, 66, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(66, 66, 66, 0.75) 0%, rgba(66, 66, 66, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(66, 66, 66, 0.75) 0%, rgba(66, 66, 66, 0.65) 100%);
    }

    32% {
        background: rgba(97, 97, 97, 0.75);
        background: linear-gradient(45deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0.65) 100%);
    }

    48% {
        background: rgba(69, 90, 100, 0.75);
        background: linear-gradient(45deg, rgba(69, 90, 100, 0.75) 0%, rgba(69, 90, 100, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(69, 90, 100, 0.75) 0%, rgba(69, 90, 100, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(69, 90, 100, 0.75) 0%, rgba(69, 90, 100, 0.65) 100%);
    }

    64% {
        background: rgba(55, 71, 79, 0.75);
        background: linear-gradient(45deg, rgba(55, 71, 79, 0.75) 0%, rgba(55, 71, 79, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(55, 71, 79, 0.75) 0%, rgba(55, 71, 79, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(55, 71, 79, 0.75) 0%, rgba(55, 71, 79, 0.65) 100%);
    }

    80% {
        background: rgba(38, 50, 56, 0.75);
        background: linear-gradient(45deg, rgba(38, 50, 56, 0.75) 0%, rgba(38, 50, 56, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(38, 50, 56, 0.75) 0%, rgba(38, 50, 56, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(38, 50, 56, 0.75) 0%, rgba(38, 50, 56, 0.65) 100%);
    }
}

/* hexo-filter-github-emojis */
.github-emoji{
    height: 2em;
    width: 2em;
    display: inline-block !important;
    position: relative;
    margin: 0 3px !important;
    padding: 0;
}
.github-emoji:hover{
    animation: emoji-face 5s infinite ease-in-out;
}
@keyframes emoji-face {
    2% {
        transform: translate(0, 1.5px) rotate(1.5deg);
    }
    4% {
        transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    6% {
        transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    8% {
        transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    10% {
        transform: translate(0, 2.5px) rotate(1.5deg);
    }
    12% {
        transform: translate(0, -0.5px) rotate(1.5deg);
    }
    14% {
        transform: translate(0, -1.5px) rotate(1.5deg);
    }
    16% {
        transform: translate(0, -0.5px) rotate(-1.5deg);
    }
    18% {
        transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    20% {
        transform: translate(0, -1.5px) rotate(2.5deg);
    }
    22% {
        transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    24% {
        transform: translate(0, 1.5px) rotate(1.5deg);
    }
    26% {
        transform: translate(0, 0.5px) rotate(0.5deg);
    }
    28% {
        transform: translate(0, 0.5px) rotate(1.5deg);
    }
}
