.note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: initial;
  border-left: 3px solid #eee;
  background-color: #f9f9f9;
  border-radius: 3px;
}
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
  margin-bottom: 0;
  border-bottom: initial;
  padding-top: 0 !important;
}
.note p:first-child,
.note ul:first-child,
.note ol:first-child,
.note table:first-child,
.note pre:first-child,
.note blockquote:first-child {
  margin-top: 0;
}
.note p:last-child,
.note ul:last-child,
.note ol:last-child,
.note table:last-child,
.note pre:last-child,
.note blockquote:last-child {
  margin-bottom: 0;
}
.note.default {
  background-color: #f7f7f7;
  border-left-color: #777;
}
.note.default h2,
.note.default h3,
.note.default h4,
.note.default h5,
.note.default h6 {
  color: #777;
}
.note.primary {
  background-color: #f5f0fa;
  border-left-color: #6f42c1;
}
.note.primary h2,
.note.primary h3,
.note.primary h4,
.note.primary h5,
.note.primary h6 {
  color: #6f42c1;
}
.note.info {
  background-color: #eef7fa;
  border-left-color: #428bca;
}
.note.info h2,
.note.info h3,
.note.info h4,
.note.info h5,
.note.info h6 {
  color: #428bca;
}
.note.success {
  background-color: #eff8f0;
  border-left-color: #5cb85c;
}
.note.success h2,
.note.success h3,
.note.success h4,
.note.success h5,
.note.success h6 {
  color: #5cb85c;
}
.note.warning {
  background-color: #fdf8ea;
  border-left-color: #f0ad4e;
}
.note.warning h2,
.note.warning h3,
.note.warning h4,
.note.warning h5,
.note.warning h6 {
  color: #f0ad4e;
}
.note.danger {
  background-color: #fcf1f2;
  border-left-color: #d9534f;
}
.note.danger h2,
.note.danger h3,
.note.danger h4,
.note.danger h5,
.note.danger h6 {
  color: #d9534f;
}
