#searchModal {
  top: 10%;
}
#searchModal .modal-content {
  max-height: 70vh;
}
#searchModal .search-result-list {
  padding-left: 2px;
}
#searchModal .search-result-list li {
  border-bottom: 1px solid #e5e5e5;
}
#searchModal .search-result-list li:last-child {
  border-bottom: 0;
}
#searchModal .search-result-list li a.search-result-title {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
}
#searchModal .search-result-list li p.search-result .search-keyword {
  padding: 1px 5px 1px 4px;
  background-color: #f2f2f2;
  color: #e96900;
  font-style: normal;
  white-space: pre-wrap;
}
