.transition-all {
  transition: all 0.5s;
}
.background-cover {
  background-size: cover;
  -o-background-size: cover;
}
.serif,
body,
.ui-toc.dropup .dropdown-menu #toc-content li.toc-list-item.is-active-li {
  font-family: 'Lora', 'Times New Roman', serif;
}
.sans-serif,
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.pagination li > a.page-link,
.pagination li > span,
.ui-toc.dropup .dropdown-menu #toc-content {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.remove-spacer p:first-child,
article .container .row blockquote p:first-child,
.alert p:first-child,
.card p:first-child,
.remove-spacer ul:first-child,
article .container .row blockquote ul:first-child,
.alert ul:first-child,
.card ul:first-child,
.remove-spacer ol:first-child,
article .container .row blockquote ol:first-child,
.alert ol:first-child,
.card ol:first-child,
.remove-spacer table:first-child,
article .container .row blockquote table:first-child,
.alert table:first-child,
.card table:first-child,
.remove-spacer pre:first-child,
article .container .row blockquote pre:first-child,
.alert pre:first-child,
.card pre:first-child,
.remove-spacer blockquote:first-child,
article .container .row blockquote blockquote:first-child,
.alert blockquote:first-child,
.card blockquote:first-child {
  margin-top: 0;
}
.remove-spacer p:last-child,
article .container .row blockquote p:last-child,
.alert p:last-child,
.card p:last-child,
.remove-spacer ul:last-child,
article .container .row blockquote ul:last-child,
.alert ul:last-child,
.card ul:last-child,
.remove-spacer ol:last-child,
article .container .row blockquote ol:last-child,
.alert ol:last-child,
.card ol:last-child,
.remove-spacer table:last-child,
article .container .row blockquote table:last-child,
.alert table:last-child,
.card table:last-child,
.remove-spacer pre:last-child,
article .container .row blockquote pre:last-child,
.alert pre:last-child,
.card pre:last-child,
.remove-spacer blockquote:last-child,
article .container .row blockquote blockquote:last-child,
.alert blockquote:last-child,
.card blockquote:last-child {
  margin-bottom: 0;
}
*:focus {
  outline: 0 !important;
}
body {
  font-size: 18px;
  color: #404040;
  webkit-tap-highlight-color: #0085a1;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a,
li a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
a {
  color: #404040;
}
a:hover,
a:focus {
  color: #0085a1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: #fff;
}
.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
}
.post-preview > a {
  color: #404040;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085a1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-title.archive {
  font-size: 22px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta.archive {
  font-size: 16px;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085a1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.post-tags,
.post-categories {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.post-tags a,
.post-categories a {
  border-bottom: 1px dotted #ababab;
  text-transform: uppercase;
  margin-right: 10px;
}
.post-tags a:hover,
.post-categories a:hover,
.post-tags a:visited,
.post-categories a:visited,
.post-tags a:active,
.post-categories a:active {
  text-decoration: none;
  border-bottom: none;
}
.archive-before-pagination {
  height: 30px;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085a1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}
.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085a1;
  border: 1px solid #0085a1;
  color: #fff;
}
.pagination {
  margin: 20px 0 0;
}
.pagination li > a.page-link,
.pagination li > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 0;
  color: #404040;
}
.pagination li > a.page-link:hover,
.pagination li > a.page-link:focus {
  color: #fff;
  background-color: #0085a1;
  border: 1px solid #0085a1;
}
.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus,
.pagination .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: #fff;
  text-shadow: none;
  background: #0085a1;
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}
img::selection {
  color: #fff;
  background: transparent;
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}
.navbar-custom {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  top: 0;
  left: 0;
  z-index: 3;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.intro-header {
  background-size: cover;
  -o-background-size: cover;
  background-color: #808080;
  background-position: center center;
  background-attachment: scroll;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading {
  padding: 100px 0 50px;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading h1 .subheading {
  line-height: 1.1;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 10px 0 30px;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: rgba(255,255,255,0.5) !important;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
article .container .row img {
  max-width: 100% !important;
  height: auto;
  display: inline-block;
}
article .container .row .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .container .row .video-container iframe,
article .container .row .video-container object,
article .container .row .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .container .row blockquote {
  font-style: italic;
  font-family: "Georgia", serif;
  font-size: 1.2em;
  padding: 0 30px 15px;
  text-align: center;
}
article .container .row blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .container .row blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .container .row .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article .container .row .pullquote.left {
  float: left;
}
figure.highlight {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #999;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight table .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight table .code {
  color: #666;
}
figure.highlight table .line {
  height: 20px;
}
figure.highlight table .line.marked {
  background: #d6d6d6;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .meta-keyword,
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
pre .meta {
  color: #905;
}
#searchModal {
  top: 10%;
}
#searchModal .modal-content {
  max-height: 70vh;
}
#searchModal .search-result-list {
  padding-left: 2px;
}
#searchModal .search-result-list li {
  border-bottom: 1px solid #e5e5e5;
}
#searchModal .search-result-list li:last-child {
  border-bottom: 0;
}
#searchModal .search-result-list li a.search-result-title {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
}
#searchModal .search-result-list li p.search-result .search-keyword {
  padding: 1px 5px 1px 4px;
  background-color: #f2f2f2;
  color: #e96900;
  font-style: normal;
  white-space: pre-wrap;
}
pre .comment {
  color: #969896;
}
pre .meta {
  color: #333;
}
pre .variable,
pre .template-variable,
pre .strong,
pre .emphasis,
pre .quote {
  color: #df5000;
}
pre .keyword,
pre .selector-tag,
pre .type {
  color: #d73a49;
}
pre .literal,
pre .symbol,
pre .bullet,
pre .attribute {
  color: #0086b3;
}
pre .section,
pre .name {
  color: #63a35c;
}
pre .tag {
  color: #333;
}
pre .title,
pre .attr,
pre .selector-id,
pre .selector-class,
pre .selector-attr,
pre .selector-pseudo {
  color: #6f42c1;
}
pre .addition {
  color: #55a532;
  background-color: #eaffea;
}
pre .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
pre .link {
  text-decoration: underline;
}
pre .number {
  color: #005cc5;
}
pre .string {
  color: #032f62;
}
article .container .row blockquote {
  font-size: 1em;
  padding-bottom: 0px;
  text-align: left;
}
article .container .post-tags a,
article .container .post-categories a {
  text-transform: unset;
}
.table-responsive {
  margin-top: 15px;
}
.table-responsive table.table thead>tr>td,
.table-responsive table.table thead>tr>th {
  border-bottom-width: 1px;
}
.table-responsive table.table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
code {
  font-size: 85%;
  color: unset;
  background-color: rgba(0,0,0,0.04);
}
figure.highlight {
  padding: 16px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #f7f7f7;
  border: 0;
  overflow: unset;
  overflow-x: auto;
  position: unset;
}
figure.highlight figcaption {
  font-weight: 800;
}
figure.highlight table {
  width: unset;
}
figure.highlight table .code {
  z-index: 1000;
}
figure.highlight table .gutter {
  padding-right: 8px;
  border-right: 3px solid #6ce26c !important;
}
figure.highlight table .gutter .line {
  color: #afafaf !important;
}
figure.highlight.line_number .code {
  padding-left: 15px;
}
figure.highlight pre {
  overflow: unset;
  color: unset;
  font-size: 85%;
  word-break: unset;
  word-wrap: unset;
}
.footer-menu {
  list-style: none;
  padding: 0;
}
.footer-menu li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}
.tag-category-item a {
  margin: 0.5rem;
}
article h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
}
article hr:not(.block-hr) {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: 0;
  border-radius: 0.25em;
}
article .header-anchor {
  color: #ddd;
  padding-right: 5px;
}
article .container .row blockquote {
  font-size: 16px;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
  font-style: normal;
}
article .container .row blockquote h2,
article .container .row blockquote h3,
article .container .row blockquote h4,
article .container .row blockquote h5,
article .container .row blockquote h6 {
  margin-bottom: 0;
  border-bottom: initial;
  padding-top: 0 !important;
}
.tag-category-item a {
  text-decoration: none;
  text-transform: unset !important;
}
.container.tags .badge {
  display: none;
}
details.alert {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}
.alert.alert-default {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}
.card .card-footer figure.highlight {
  background: none;
  padding: 0 16px;
}
.navbar .search-btn:focus {
  outline: none;
}
.navbar .search-btn i {
  color: #fff;
}
.navbar-header {
  float: unset;
}
.pagination .next>a,
.pagination .next>span {
  float: right;
}
.pagination .page-item .page-link {
  border-radius: 0;
}
.img-caption {
  font-size: 14px;
  margin: 0;
  padding: 10px;
}
.ui-toc.dropup {
  position: fixed;
  bottom: 20px;
  z-index: 998;
}
.ui-toc.dropup .toc-btn {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 9px 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 0;
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 10;
  width: 40px;
  height: 40px;
}
.ui-toc.dropup .toc-btn:hover {
  color: #fff;
  background-color: #0085a1;
  border-color: #0085a1;
}
.ui-toc.dropup .toc-btn i {
  margin-left: -2px;
}
.ui-toc.dropup.show button {
  background: #0085a1;
  border-color: #0085a1;
  color: #fff;
}
.ui-toc.dropup .dropdown-menu {
  right: 0;
  left: auto;
  margin-bottom: calc(3% + 50px);
  width: 15vw;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.ui-toc.dropup .dropdown-menu #toc-content {
  font-size: 0.8em;
  line-height: 1.6;
}
.ui-toc.dropup .dropdown-menu #toc-content.expand ol {
  max-height: unset;
}
.ui-toc.dropup .dropdown-menu #toc-content ol {
  transition: none;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}
.ui-toc.dropup .dropdown-menu #toc-content li.toc-list-item {
  list-style: none;
}
.ui-toc.dropup .dropdown-menu #toc-content li.toc-list-item a {
  text-decoration: none;
}
.ui-toc.dropup .dropdown-menu .toc-menu {
  font-size: 0.8em;
}
#gitalk-container .gt-link-counts {
  color: #6c757d;
}
#gitalk-container .gt-header-controls .gt-ico {
  color: #6c757d;
}
#gitalk-container .gt-header-controls .gt-ico .gt-svg svg {
  fill: #6c757d;
  margin-top: -9px;
}
#gitalk-container .gt-header-controls .gt-btn {
  color: #404040;
  background-color: unset;
  border-color: #dee2e6;
}
#gitalk-container .gt-header-controls .gt-btn:hover,
#gitalk-container .gt-header-controls .gt-btn:focus {
  background-color: #0085a1;
  border-color: #0085a1;
  color: #fff;
}
@media only screen and (min-width: 426px) {
  .table-responsive table.table {
    width: unset;
  }
}
